:root {
  --primary: #ddd;
  --dark: #333;
  --light: #fff;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 20px;
  display: grid;
  grid-gap: 20px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-item {
  flex-basis: 22%;
}

.nav-item a {
  display: block;
  text-align: center;
  padding: 20px;
  text-decoration: none;
  background: var(--primary);
  color: var(--dark);
  box-shadow: var(--shadow);
  font-size: 20px;
}

.top-container {
  display: grid;
  grid-template-areas:
    "showcase showcase price-box-a"
    "showcase showcase price-box-b";
  grid-gap: 10px;
}

.showcase {
  grid-area: showcase;
  padding: 30px;
  background: url("../images/desing.jpeg");
  background-position: center;
  background-size: cover;
  min-height: 400px;
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  z-index: 0;
}

.showcase::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.603);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.price-box {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary);
  min-height: 300px;
  box-shadow: var(--shadow);
}

.price {
  font-size: 50px;
}

.btn {
  background-color: var(--dark);
  padding: 10px 30px;
  color: var(--light);
  box-shadow: var(--shadow);
  text-align: center;
}

.price-box-a {
  grid-area: price-box-a;
}

.price-box-b {
  grid-area: price-box-b;
}

.learn .title {
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

.box {
  box-sizing: border-box;
  float: left;
  padding: 5px;
}

.content {
  background-color: var(--primary);
  height: 100%;
  padding: 20px;
  min-height: 130px;
}

#grid {
  width: 40%;
}
#flexbox {
  width: 60%;
}
#float {
  width: 60%;
}
#display {
  width: 40%;
}
#align {
  width: 30%;
}
#padding {
  width: 70%;
}

.gallery-container {
  background-color: var(--dark);
  display: flex;
  justify-content: space-around;
  padding: 15px;
}
img {
  width: 100%;
  min-height: 150px;
}
.gallery-img {
  box-sizing: border-box;
  width: 50%;
  padding: 5px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.gallery-texts {
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (max-width: 900px) {
  .top-container {
    grid-template-areas:
      "showcase showcase"
      "price-box-a price-box-b";
  }
  .gallery-container {
    flex-direction: column;
    align-items: center;
  }

  .gallery {
    width: 100% !important;
  }

  .gallery-texts {
    text-align: center;
  }

  .box {
    width: 50% !important;
  }
}

@media (max-width: 480px) {
  .top-container {
    grid-template-areas:
      "showcase"
      "price-box-a"
      "price-box-b";
  }
  .box {
    width: 100% !important;
  }
  .gallery-img {
    width: 100%;
  }
  .nav-items {
    flex-direction: column;
    min-height: 300px;
  }
}
